body {
	margin: 0px;
    height: 100%;
    background: #FF6600;
    font-family: Ubuntu;
}

.nav {
    color: white;
    background: #FF6600;
    padding: 10px;
    display: inline-block;
}

.nav:hover {
    color: #FF6600;
    background: white;
}

#main {
    background: white;
    width: 100%;
    height 75%;
}